<div class="well span3">
  <h4><%= t(:'title.filters') %></h4>

  <ul>
    <li>Name</li>
    <li>Email</li>
    <li>Roles</li>
    <li>Last sign in date</li>
    <li>IP</li>
    <li>Criado em</li>
    <li>Criado por</li>
  </ul>

</div>