<div class="jumbotron">
  <h1>Intelligent CRM for smart business</h1>
  <p class="lead">Mascavo CRM is a modern online software, focused on BI and made to turn the data about your customers and leads into strategic information. Let us help you to make right decisions for your business growth.</p>
  <%= link_to "sign up today", "#signup-modal", :class => "btn btn-large btn-success", :'data-toggle' => "modal", :type => "button" %>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h2>Intellingence Centric</h2>
    <p>Every information that could be analysed is important to your business.</p>

    <h2>Follow Up</h2>
    <p>Don't miss anything. From leads to important customers, since the first contact.</p>

    <h2>Safe and better</h2>
    <p>Centralize your data in a secure place, and make the information available from anywhere.</p>
  </div>

  <div class="span6">
    <h2>Manage Sales</h2>
    <p>What they're buying, from where they're buying and how much they're spending</p>

    <h2>Manage Marketing</h2>
    <p>Discover who are who on your customers and leads. Make specific strategies for each group.</p>

    <h2>Manage Relationship</h2>
    <p>Register interactions with your costumers and track them all.</p>
  </div>
</div>