<div class="well span3">
  <h4><%= t(:'title.filters') %></h4>

  <ul>
    <li>Origem</li>
    <li>Data de origem</li>
    <li>Nome</li>
    <li>Aniversário</li>
    <li>Status</li>
    <li>Documento</li>
    <li>Endereço</li>
    <li>Contato</li>
    <li>Online</li>
    <li>Empresa</li>
    <li>Cargo</li>
    <li>Contato principal</li>
    <li>Público</li>
    <li>Ativo</li>
    <li>Criado em</li>
    <li>Criado por</li>
  </ul>

</div>