/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

$brown: SaddleBrown;
$black: #000;
$grey: #ccc;
$dark: #222;
$light: #eee;

@mixin opacity($value: 5) {
  opacity: $value / 10;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity= $value * 10)';
  filter: alpha(opacity= $value * 10);
  zoom: 1; }

html {
  overflow-y: scroll; }

.clear {
  clear:both; }

#main {
  margin-top: 25px; }

.brand,
.navbar-inverse .brand {
  font-size: 22px;
  line-height: 1;
  margin: 0;
  padding: 8px 30px 8px 0;

  span {
    color: $brown; }}

.brand {
  color: #ccc;
  font-weight: bold;
  line-height: 30px;
  &:hover {
    color: $brown;
    text-decoration: none; }}

.navbar-inverse .brand {
  text-shadow: 0 -2px 0 $black;
  &:hover {
    color: inherit; }}

.navbar .btn-group.user-welcome {
  margin-top: 7px; }

.footer {
  text-align: center;

  a {
    color: $grey;
    &:hover {
      text-decoration: none;
      color: $brown; }}}

.container-fluid {
  max-width: 1170px;
  margin: 0 auto; }

#welcome {
  padding-top: 20px;
  padding-bottom: 40px;

  .container-fluid {
    max-width: 700px;
    margin: 0 auto; }

  .jumbotron {
    margin: 60px 0;
    text-align: center; }

  .jumbotron h1 {
    font-size: 72px;
    line-height: 1; }

  .jumbotron .btn {
    font-size: 22px;
    padding: 14px 24px; }

  .marketing {
    margin: 60px 0; }

  .marketing h2 {
    font-size: 20px; }

  .marketing p + h2 {
    margin-top: 28px; }}

#devise-sessions,
#devise-registrations {
  padding-top: 20px;
  padding-bottom: 40px;

  .container-fluid {
    max-width: 540px;
    margin: 0 auto; }

  .content {
    padding-top: 25px;
    padding-bottom: 30px; }

    .help-inline {
      font-size: 0.8em;
      display: block; }}

.modal.vertical {
  width: 280px;
  margin-left: -140px;

  .modal-header,
  .modal-footer {
    padding-top: 15px;
    padding-bottom: 15px; }

  .modal-body {
    padding: 30px; }}

.table .actions {
  text-align: right;

  a {
    @include opacity(3);
    margin-left: 3px; }}

.table tr:hover .actions a {
  @include opacity(5);
  &:hover {
    text-decoration: none;
    @include opacity(10); }}

.table thead {
  background: #e5e5e5;
  border-top: 1px solid #ddd; }

.table-hover tbody tr:hover td {
  background: #fafafa; }

h2 .label, h3 .label, h4 .label {
  vertical-align: middle; }

.well-title {
  color: #ccc;
  font-weight: normal;
  font-size: 17.5px;
  text-shadow: 2px 2px #fff;
  margin: 0 0 5px 0; }

.well-list {
  list-style: none;
  margin: 0;

  li {
    padding: 10px 0 5px; }}

.well-info {

  .info {
    padding-top: 10px; }

  h3 {
    line-height: 1;
    margin: 2px 0 9px 0; }

  h4, h5 {
    margin: 0; }

  .thumbnail {
    margin: 20px 0 15px; }

  .tags {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 2px 0;
    margin-top: 7px;

    span {
      margin-right: 15px;
      font-size: 0.9em; }}}

.simple_form .well-title {
  padding-bottom: 9px; }

/* Bootstrap Form Adjustments */
select, input[type="file"] {
  height: 26px;
  line-height: 26px; }

input[type="text"] {
  padding-top: 2px;
  padding-bottom: 2px; }

.form-horizontal label {
  margin-bottom: 0; }

.form-horizontal .control-group {
  margin-bottom: 10px; }
