<div class="well span3">
  <h4><%= t(:'title.filters') %></h4>

  <ul>
    <li>Datetime</li>
    <li>Description</li>
    <li>Status</li>
    <li>Criado em</li>
    <li>Criado por</li>
  </ul>

</div>